body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e3e0e047;
}

.tost-MegDesp-None {
    display: none;
}

.tostMeg {
    display: block;
    text-align: center;
    animation: tostMeg 4s;
}

@keyframes tostMeg {
    from {
        color: #198754;

    }

    to {}
}

.deleteItemsTostMeg {
    display: block;
    text-align: center;
}